* {
    background:url('../images/wallpaper.jpg');
    background-size:auto;
    position: relative;
    z-index: -1;
}
#wrapper {
    text-align: center;
    margin-top:50px;
    
}
input {
    background:#fff;
    border-radius:5px;
}
.button {
    background:blue;
}