* {
    background:url('../images/wallpaper.jpg')repeat fixed;
    position: relative;
    z-index: -1;
    
}
#wrapper {
    text-align: center;
    margin-top:0px;
    position: relative;
    z-index: 1;
    
}
input {
    background:#fff;
    border-radius:5px;
    position: relative;
    z-index: 2;
}
#searchBtn {
    cursor:pointer;
}