body{
    background:url('../images/wallpaper.jpg')fixed repeat;
 
    
}
#wrapper {
    text-align: center;
    margin-top:50px;
    position: relative;
    z-index: 1;
    
}
input {
    background:#fff;
    border-radius:5px;
    position: relative;
    z-index: 2;
}
#searchBtn {
    background:blue;
    cursor:pointer;
    position: relative;
    z-index: 2;
}
#results {
    margin:25px;
}